body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.form-builder {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.schema-editor {
  width: 600px;
  height: 100vh;
}
.form-display {
  flex: 1;
  height: 100%;
  overflow-y: auto;
}